html,body{
	height:100%;
	font-size: 1rem;
}
.logo, .integral{
	width:50px;
	height:50px;
}
.header-img{
	height:50%;
	width: 60%;
}

 .about_me{
 	height:100%;
	width: 90%;
 }

 .img_skills {
	height:100%;
	width: 100%;
}

.gradient{
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}
.page-header{
	margin-top: 4rem;
	font-size: 1.25rem;

}


.About_me ul{
	padding-left: 2rem;
	list-style-type: none;
}
.About_me li{
	padding-left: 2rem;
	
}
.Skills, .Services, .Contacts, .About_me, .Page-header{
	text-align: center;
}
.card:hover{
 	box-shadow: 0 20px 40px #515151;
 	transform: scale(1.1);
}
